.headerPrincipal {
    background-color: green;
    color: black;
	height:150px;
	margin-top: 50px;
}

.btn {

}

.btn-comprar {
	width: 100%;
	border-radius: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: green;
    margin-bottom: 0px;	
	margin-top: 20px;
}

.footer-address-icon {
	padding-right: 6px;
}

.card-vinilo-pr {
	flex: 1 200px;
	padding: 4px 0px 0px 0px;
	margin-bottom: 15px;
}

.tab-pane {
	padding-top: 10px;
}

.btn-collapse-inicio {
	margin-bottom: 10px;
}