.headerPrincipal {
  background-color: #00b359;
  color: black;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn-comprar {
  width: 100%;
  border-radius: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: green;
  margin-top: 20px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 6px; }

.card-vinilo-pr {
  flex: 1 200px;
  padding: 4px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 15px; }

.tab-pane {
  padding-top: 10px; }

.btn-collapse-inicio {
  margin-top: 0px;
  margin-bottom: 10px; }
