$green: #00b359;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;	
}

.headerPrincipal {
    background-color: $green;
    color: black;
	height:150px;
	@include margenes(50px, 0px);
}

.btn {

}

.btn-comprar {
	width: 100%;
	border-radius: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: green;
    @include margenes(20px, 0px);
}

.footer-address-icon {
	padding-right: 6px;
}

.card-vinilo-pr {
	flex: 1 200px;
	padding: 4px 0px 0px 0px;
	@include margenes(0px, 15px);
}

.tab-pane {
	padding-top: 10px;
}

.btn-collapse-inicio {
	@include margenes(0px, 10px);
}